body {
  background-image: url("assets/background.gif");
  background-size: cover; background-repeat: repeat;
}

div.header {
  background-color: green;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  text-allign: center;
}
