@font-face {
  font-family: "Determination Mono"; src: url("assets/DTM-Sans.otf") format("opentype"); background-color: black;
}

body {
  background-image: url("assets/background.gif");
  background-size: cover; background-repeat: repeat;
}

div.header {
  background-color: #39FF14; color: black;
  font-family: "Determination Mono";
  font-size: 25px;
  text-allign: center;
}
