@font-face {
	font-family: "Determination Mono"; src: url("assets/DTM-Sans.otf") format("opentype"); background-color: black;
}

body {
	background-image: url("assets/background.gif");
	background-size: cover; background-repeat: repeat;
}

div.card {
	width: 1000px;
	border: 1px solid #39FF14;
	margin: auto;
	align-items: center;
	justify-content: center;
}

div.header {
	background-color: #39FF14; color: black;
	font-family: "Determination Mono";
	font-size: 15px;
	text-align: center;
}

div.flex {
	display: flex;
	margin: auto;
	width: 100%;
	align-items: center;
}

div.cardtext {
	margin: 20px;
}

div.photo {
	margin: 20px;
}

img.photo {
	width: 50%;
}

p {
	font-family: "Determination Mono"; color: #39FF14;
}

a {
	font-family: "Determination Mono"; color: #D99541;
}

div.links {
	margin-left: 40px;
}
